*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#eclipse and maven
/Topic1/topic1-app/.classpath
/Topic1/topic1-app/.project
/Topic1/topic1-app/target

/topic2/.classpath
/topic2/.project
/topic2/target

/Topic3-Services/.classpath
/Topic3-Services/.project
/Topic3-Services/target

/Topic4-MySQL/project-Topic4/.classpath
/Topic4-MySQL/project-Topic4/.project
/Topic4-MySQL/project-Topic4/target

/Topic6-REST_Spring/REST/.classpath
/Topic6-REST_Spring/.project
/Topic6-REST_Spring/REST/.project
/Topic6-REST_Spring/REST/target

